.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.grid {
  grid-column-gap: 20px;
  grid-row-gap: 22px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 22px auto 22px auto;
  grid-template-rows: auto auto auto;
}

.grid-2 {
  width: 100%;
  height: 100%;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.section {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin: 204px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tumma_tausta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vw;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3f3f3f;
}

.text-block {
  color: #fff;
}

.font {
  font-family: Arimo, sans-serif;
  font-weight: 400;
}

.font.bold {
  font-size: 20px;
  font-weight: 600;
}

.font.h1 {
  font-size: 70px;
}

.font.text {
  font-size: 20px;
}

.font.text.fc_valkoinen.teksti_tayta {
  line-height: 1.5em;
  text-align: justify;
  letter-spacing: normal;
  -webkit-column-count: auto;
  column-count: auto;
  white-space: normal;
}

.font.text.fc_valkoinen.teksti_keskelle {
  margin-bottom: 50px;
  line-height: 1.5em;
  text-align: center;
}

.font.text.fc_valkoinen.text_keskelle {
  text-align: center;
}

.font.text.fc_valkoinen.tt_yla {
  margin-top: 20px;
  letter-spacing: -1px;
}

.font.text.font_bold.fc_valkoinen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.font.text.font_bold.fc_valkoinen.teksti_keskelle {
  text-align: center;
}

.font.h2 {
  font-size: 40px;
}

.font.h2.fc_vaalea.team {
  opacity: 0;
}

.font.h2.fc_valkoinen.tt_yla {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 60px;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  letter-spacing: -2px;
}

.font.fc_vaalea {
  color: #bcbcbc;
}

.font.fc_tumma {
  color: #3f3f3f;
}

.font.fc_musta {
  color: #000;
}

.font.fc_valkoinen {
  color: #fff;
}

.font.tt_logo {
  width: 165px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.font_bold {
  font-family: Arimo, sans-serif;
  font-weight: 600;
}

.tt_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 170px;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 300px;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.text-block-2.font.text.fc_vaalea {
  width: 400px;
}

.text-block-2.font.text.fc_tumma {
  width: 500px;
}

.text-block-2.font.text.fc_valkoinen {
  width: 500px;
}

.div4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  margin-top: -280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.w_400 {
  width: 400px;
}

.w_400.font.text.fc_vaalea.teksti_keskelle {
  width: 500px;
  text-align: center;
}

.w_400.font.text.fc_vaalea.teksti_keskelle.lisa {
  margin-top: -20px;
  opacity: 0;
}

.body {
  display: block;
  height: 200vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-2 {
  width: 100vw;
  height: 100vw;
}

.section-3 {
  width: 100vw;
  height: 10vw;
}

.section-4 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3 {
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  grid-template-areas: "Area";
  -ms-grid-columns: 300px 50px 300px 50px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.problem_h {
  margin-bottom: 10px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-width: 550px;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 80px;
}

.div-block-8 {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 120px;
  margin-right: -62px;
  margin-bottom: -20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-2 {
  opacity: 0;
}

.paa_section {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  height: 100vh;
}

.div_ps_pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-3 {
  height: 70px;
}

@media screen and (max-width: 991px) {
  .font.h2.fc_vaalea.team {
    opacity: 0;
  }

  .font.h2.fc_valkoinen.tt_yla {
    margin-top: 20px;
  }

  .div-block-3 {
    margin-top: 50px;
  }

  .div4 {
    position: static;
    margin-top: 0px;
    margin-bottom: 300px;
  }

  .body {
    height: auto;
    min-height: auto;
  }

  .grid-3 {
    height: auto;
    grid-template-areas: ".";
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -ms-grid-rows: auto minmax(162px, 1fr) auto;
    grid-template-rows: auto minmax(162px, 1fr) auto;
  }

  .div-block-4 {
    height: auto;
  }

  .div-block-6 {
    margin-bottom: 100px;
  }

  .paa_section {
    position: static;
    height: auto;
  }

  .div-block-10 {
    height: auto;
    min-height: 100vh;
  }

  .div-block-11.tumma_tausta {
    height: auto;
    min-height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .font.bold {
    font-size: 16px;
  }

  .font.h1 {
    font-size: 40px;
  }

  .font.text {
    font-size: 16px;
  }

  .font.h2 {
    font-size: 32px;
  }

  .text-block-2.font.text.fc_tumma {
    width: auto;
    max-width: 500px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .div4 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .w_400.font.text.fc_vaalea.teksti_keskelle.lisa {
    width: auto;
    max-width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .font.text.fc_valkoinen {
    text-align: center;
  }

  .font.h2.fc_vaalea.team {
    display: block;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .font.h2.fc_valkoinen {
    text-align: center;
  }

  .font.h2.fc_valkoinen.tt_yla {
    width: 100vw;
    text-align: center;
  }

  .font.tt_logo.fc_tumma.tt_logo_left {
    width: 112px;
    height: 200px;
    font-size: 200px;
  }

  .font.tt_logo.fc_tumma.tt_logo_right {
    width: 112px;
    height: 200px;
    font-size: 200px;
  }

  .div4 {
    margin-top: 0px;
  }

  .body {
    height: 280vh;
  }

  .grid-3 {
    -ms-grid-columns: minmax(100px, 300px);
    grid-template-columns: minmax(100px, 300px);
  }

  .div-block-5 {
    width: auto;
  }

  .div-block-11.tumma_tausta {
    width: auto;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}

